<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\stylesheets\style.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/lucida-console" rel="stylesheet">
    <link href="\views\favicon.ico" rel="icon" type="image/x-icon">
    <title>TCOS by balaam_</title>
</head>

<body>
    <div id="terminal">
        <div id="terminalbody">
            {% for each in commands %}
            <div>{{ each }}</div>
            {% endfor %}
        </div>
        <form name="terminal" method="post">
            <input type="text" id="inpfield" name="inpfield" maxlength="20" autofocus>
        </form>
    </div>
</body>

</html>